.history{
    /* display: none; */
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.714);
}
.history-wrapper{
    position: absolute;
    text-align: center;
    right: 0;
    margin-right: 0px;
    height: 100%;
    width: min(80%, 400px);
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: auto;
}
.nameValute{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
}
.list{
  overflow-y: auto;
  height: 85%;
}
.list::-webkit-scrollbar {
  width: 8px;
}
.list::-webkit-scrollbar-track {
  background: transparent;
}
.list::-webkit-scrollbar-thumb {
  background-color: rgb(230, 230, 230);
}
.list > div{
  box-sizing: border-box;
  height: 45px;
  padding: 17px;
  display: flex;
  justify-content: space-between;
}

.history-item-up{
  box-shadow: -2px 2px 9px rgba(255, 0, 0, 0.222) inset;
}
.history-item-down{
  box-shadow: -2px 2px 9px rgba(0, 128, 0, 0.278) inset;
}

.buttons-wrapper{
  display: flex;
  width: 100%;
  /* border-top: 1px solid grey; */
}
button{
  border: none;
  background-color: rgb(206, 226, 243);
  cursor: pointer;
}

.closeBtn{
  flex: 1;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgb(206, 226, 243);
}
.closeBtn:hover{
  box-shadow: 0px 0px 3px 0px rgb(80, 144, 151) inset;
}
.closeBtn span{
  color: rgb(36, 102, 98);
  transition: transform 0.5s;
  font-size: 2rem;
}
.closeBtn:hover span{
  transform: rotateZ(180deg);
  
}



button:last-child{
  transition: all 0.3s;
  background: linear-gradient(90deg, rgb(136, 197, 191)1%,transparent 100%) 500px/50% no-repeat rgb(206, 226, 243);
  color: rgb(36, 102, 98);
  flex: 6;
  padding: 0.7em;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.2rem;
}
button:last-child:hover{
  background-position: 0% 0%;
  letter-spacing: 3px;
}




.loading{
  display: flex;
  flex-direction: column;
  height: 20em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading div{
  width: 150px;
  height: auto;
  aspect-ratio: 1/1;
  background: url(./loading.svg) center center/ 100% 100% no-repeat;
}