.currency{
    position: relative;
    width: 300px;
    height: 45px;
    padding: 7px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* box-sizing:border-box; */
}

.currency:hover {
    cursor: pointer;
    box-shadow: 0px 0px 3px 3px black
}
.currency-code_wrapper, .currency-value_wrapper{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    max-width: 60%;
}
.currency-code_wrapper span:first-child{
    font-size: 0.8em;
}
.currency-value_wrapper{
    align-items: flex-end;
}
.currency-value_wrapper > span{
    font-size: 0.6em;
}

