
header h1{
  padding: 30px;
}
header a{
  position: absolute;
  right: 0;
}
header{
  text-align: center;
}
header input{
  border: 0;
  font-size: 1em;
  width: auto;
  background-color: transparent;
  padding: 0.5em;
  box-shadow: 0px 0px 2px white inset,
              -1px -1px 2px grey inset;
              
}

::-webkit-calendar-picker-indicator {
  /* transform: scale(1.8,1.8); */
  cursor: pointer;
  /* border: 1px solid red; */
}
main{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
  width: 85%;
}

.no-data{
  display: flex;
  flex-direction: column;
  height: 20em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.no-data div{
  width: 150px;
  height: auto;
  aspect-ratio: 1/1;
  background: url(sad-face.svg) center center/ 100% 100% no-repeat;
}

